<div>
    <h1>Agregar Producto</h1>
    <form id="productForm">
        <div>
            <label for="productName">Nombre del Producto:</label>
            <input type="text" id="productName" name="productName" required>
        </div>
        <div>
            <label for="productPrice">Precio:</label>
            <input type="number" id="productPrice" name="productPrice" min="0" required>
        </div>
        <div>
            <label for="productDescription">Descripción:</label>
            <textarea id="productDescription" name="productDescription" required></textarea>
        </div>
        <button type="submit">Agregar Producto</button>
    </form>
</div>

<div>
    <h1>Productos Agregados</h1>
    <ul id="productList"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    const productForm = document.getElementById("productForm");
    const productList = document.getElementById("productList");

    productForm.addEventListener("submit", event => {
        event.preventDefault();

        const formData = new FormData(productForm);
        const productData = {};
        formData.forEach((value, key) => {
            productData[key] = value;
        });

        socket.emit("addProduct", productData);
    });

    socket.on("productLogs", products => {
    productList.innerHTML = '';

    products.forEach(product => {
        const productItem = document.createElement('li');
        productItem.innerHTML = `
            Nombre: ${product.productName} Precio: $${product.productPrice} Descripción: ${product.productDescription}
            <button onclick="deleteProduct(${product.id})">Eliminar</button>
        `;
        productList.appendChild(productItem);
    });
});

    function deleteProduct(id) {
        console.log("Intentando eliminar producto con ID:", id);
        socket.emit("deleteProduct", id);
    }
</script>